<div class="nav">
    <li id="list"><a href="">Home<a></li>
    <li id="list"><a href="">Join Us</a></li>
    <li id="list"><a href="">AboutUs</a></li>
    <li id="list"><a href="">ContactUs</a></li>
    <div class="all">
    <input  id="nn"  type="text">
    <button id="nnn" type="submit" value="Search what you want">Submit</button>
    </div>
    </div>